# Final Project
## *Part 2*
### Student: Christian Rose

### Description
Exploratory data analysis is a crucial step in any data workflow. Create a Jupyter Notebook that explores your data mathematically and visually. Explore features, apply descriptive statistics, look at distributions, and determine how to handle sampling or any missing values.

### Requirements
1. Create an exploratory data analysis notebook.
2. Perform statistical analysis, along with any visualizations.
3. Determine how to handle sampling or missing values.
4. Clearly identify shortcomings, assumptions, and next steps.

In [2]:
from pathlib import Path

import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

plt.style.use('fivethirtyeight')

In [3]:
mimic_admit_filepath = Path('..','assets', 'ADMISSIONS.csv')
mimic_admit = pd.read_csv(mimic_admit_filepath)
mimic_diag_filepath = Path('..','assets', 'DIAGNOSES_ICD.csv')
mimic_diag = pd.read_csv(mimic_diag_filepath)

In [4]:
display(mimic_admit.head(10),mimic_diag.head(20))

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1
5,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,NaN,CATHOLIC,SINGLE,UNKNOWN/NOT SPECIFIED,NaN,NaN,V-TACH,0,1
6,27,27,134931,2191-11-30 22:16:00,2191-12-03 14:45:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,CATHOLIC,NaN,WHITE,NaN,NaN,NEWBORN,0,1
7,28,28,162569,2177-09-01 07:15:00,2177-09-06 16:00:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
8,29,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,NaN,URGENT,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,UNKNOWN/NOT SPECIFIED,NaN,NaN,UNSTABLE ANGINA\CATH,0,1
9,30,31,128652,2108-08-22 23:27:00,2108-08-30 15:00:00,2108-08-30 15:00:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,STATUS EPILEPTICUS,1,1

    ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0     1297         109   172335      1.0     40301
1     1298         109   172335      2.0       486
2     1299         109   172335      3.0     58281
3     1300         109   172335      4.0      5855
4     1301         109   172335      5.0      4254
5     1302         109   172335      6.0      2762
6     1303         109   172335      7.0      7100
7     1304         109   172335      8.0      2767
8     1305         109   172335      9.0      7243
9     1306         109   172335     10.0     45829
10    1307         109   172335     11.0      2875
11    1308         109   172335     12.0     28521
12    1309         109   172335     13.0     28529
13    1310         109   172335     14.0     27541
14    1311         109   173633      1.0     40301
15    1312         109   173633      2.0      5856
16    1313         109   173633      3.0     58381
17    1314         109   173633      4.0      7100
18    1315         109   173633      5.0      5589
19    1316         109   173633      6.0      2875

In [5]:
print(mimic_admit.shape)
print(mimic_diag.shape)

(58976, 19)
(651047, 5)

In [6]:
mimic_all = pd.merge(mimic_admit, mimic_diag)
print(mimic_all.shape)
mimic_all.head(10)
#Not sure why I am only getting a 1X21 shape after merging. Will have to come back to this.

(1, 21)

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,SEQ_NUM,ICD9_CODE
0,1,2,163353,2138-07-17 19:04:00,2138-07-21 15:48:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,...,NOT SPECIFIED,NaN,ASIAN,NaN,NaN,NEWBORN,0,1,1.0,V3001

In [7]:
mimic_admit.loc[:,'DIAGNOSIS'].unique()

array(['BENZODIAZEPINE OVERDOSE',
       'CORONARY ARTERY DISEASE\\CORONARY ARTERY BYPASS GRAFT/SDA',
       'BRAIN MASS', ..., 'R/O METASTASIS',
       'GASTROPARESIS\\PLACEMENT OF G-TUBE **REMOTE WEST**/SDA',
       'JOINT EFFUSION'], dtype=object)

In [8]:
mimic_admit.loc[:,'DIAGNOSIS'].str.count("OVERDOSE").sum()
#Looking at how many overdose cases we might have in order to decide if I should actually even attempt this research.

420.0

In [9]:
#Now I want to look at the overdose cases
contains_overdose = mimic_admit.loc[:,'DIAGNOSIS'].str.contains("OVERDOSE", na=False)
mimic_overdose = mimic_admit.loc[contains_overdose,:]

In [10]:
#I will merge this with ICD information to see what was labelled for these visits. Should merge on patient ID = HADM_ID
mimic_overdose_icd = pd.merge(mimic_overdose,mimic_diag, on='HADM_ID')
print(mimic_overdose_icd.shape)
mimic_overdose_icd.head(10)

(4441, 23)

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,ROW_ID_y,SUBJECT_ID_y,SEQ_NUM,ICD9_CODE
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,...,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1,151,22,1.0,9678
1,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,...,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1,152,22,2.0,9693
2,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,...,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1,153,22,3.0,E9502
3,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,...,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1,154,22,4.0,E9503
4,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,...,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1,155,22,5.0,3488
5,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,...,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1,156,22,6.0,29620
6,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,...,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1,157,22,7.0,4019
7,73,71,111944,2164-02-03 22:07:00,2164-02-08 14:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Government,...,ASIAN,2164-02-03 19:11:00,2164-02-03 23:22:00,OVERDOSE,0,1,576,71,1.0,9695
8,73,71,111944,2164-02-03 22:07:00,2164-02-08 14:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Government,...,ASIAN,2164-02-03 19:11:00,2164-02-03 23:22:00,OVERDOSE,0,1,577,71,2.0,2762
9,73,71,111944,2164-02-03 22:07:00,2164-02-08 14:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Government,...,ASIAN,2164-02-03 19:11:00,2164-02-03 23:22:00,OVERDOSE,0,1,578,71,3.0,29590

In [12]:
#Check for cardiovascular overdose in the database. 972 is the ICD code.
mimic_diag_972 = mimic_diag.loc[mimic_diag.loc[:,'ICD9_CODE'].str.contains('972.', na=False),:]

In [13]:
#Combine the 972/Overdose diagnoses
mimic_972 = pd.merge(mimic_diag_972, mimic_admit, on='HADM_ID')
mimic_972.head(20)

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,SEQ_NUM,ICD9_CODE,ROW_ID_y,SUBJECT_ID_y,ADMITTIME,DISCHTIME,DEATHTIME,...,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,15810,1382,183420,1.0,9726,1700,1382,2187-09-28 19:22:00,2187-09-30 17:00:00,NaN,...,Self Pay,NaN,NaN,SEPARATED,WHITE,2187-09-28 16:53:00,2187-09-28 22:13:00,OVERDOSE,0,1
1,34887,3120,146449,1.0,9729,3762,3120,2150-09-25 14:52:00,2150-09-28 16:30:00,NaN,...,Medicare,SPAN,NOT SPECIFIED,SEPARATED,HISPANIC OR LATINO,2150-09-25 12:36:00,2150-09-25 16:10:00,RECURRENT SYMPTOMATIC BRADYCARDIA,0,1
2,29352,2605,148903,7.0,9726,3161,2605,2144-08-22 22:54:00,2144-08-24 16:24:00,NaN,...,Medicaid,ENGL,UNOBTAINABLE,SINGLE,WHITE,2144-08-22 21:15:00,2144-08-23 01:10:00,OVERDOSE,0,1
3,52818,4745,151356,9.0,9729,5741,4745,2126-08-06 02:45:00,2126-08-13 18:26:00,NaN,...,Medicaid,ENGL,CATHOLIC,SINGLE,WHITE,2126-08-05 23:55:00,2126-08-06 05:02:00,MULTIPLE INGESTIONS,0,1
4,52820,4745,151356,11.0,9720,5741,4745,2126-08-06 02:45:00,2126-08-13 18:26:00,NaN,...,Medicaid,ENGL,CATHOLIC,SINGLE,WHITE,2126-08-05 23:55:00,2126-08-06 05:02:00,MULTIPLE INGESTIONS,0,1
5,52822,4745,151356,13.0,9726,5741,4745,2126-08-06 02:45:00,2126-08-13 18:26:00,NaN,...,Medicaid,ENGL,CATHOLIC,SINGLE,WHITE,2126-08-05 23:55:00,2126-08-06 05:02:00,MULTIPLE INGESTIONS,0,1
6,46960,4187,199609,14.0,9729,5083,4187,2198-12-27 20:43:00,2199-01-01 14:20:00,NaN,...,Medicare,ENGL,PROTESTANT QUAKER,MARRIED,WHITE,NaN,NaN,GI BLEED,0,1
7,48590,4346,114801,2.0,9724,5266,4346,2129-07-17 17:12:00,2129-07-18 13:00:00,NaN,...,Private,NaN,CATHOLIC,MARRIED,WHITE,2129-07-17 12:45:00,2129-07-17 19:10:00,OVERDOSE,0,1
8,40893,3693,145182,1.0,9724,4442,3693,2163-09-20 12:45:00,2163-09-21 16:30:00,NaN,...,Medicare,NaN,CATHOLIC,SINGLE,WHITE,2163-09-19 22:54:00,2163-09-20 03:37:00,DEPRESSION W/SUICIDIAL IDEATION,0,1
9,96301,8619,156730,9.0,9726,10537,8619,2156-08-18 19:51:00,2156-08-24 15:51:00,NaN,...,Medicare,RUSS,JEWISH,WIDOWED,WHITE,2156-08-18 16:41:00,2156-08-18 21:50:00,CHEST PAIN,0,1
10,91552,8189,149399,5.0,9720,10017,8189,2197-09-20 21:03:00,2197-09-22 20:00:00,NaN,...,Private,NaN,UNOBTAINABLE,NaN,WHITE,2197-09-20 20:09:00,2197-09-20 22:13:00,POLYSUBSTANCE OVERDOSE,0,1
11,113844,10155,158595,1.0,9726,12417,10155,2162-06-01 05:09:00,2162-06-02 20:16:00,NaN,...,Medicare,NaN,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,2162-06-01 04:06:00,2162-06-01 05:45:00,OVERDOSE,0,1
12,114062,10174,119127,1.0,9724,12442,10174,2132-03-24 16:53:00,2132-03-27 11:15:00,NaN,...,Government,NaN,CATHOLIC,SINGLE,WHITE,2132-03-24 12:34:00,2132-03-24 18:25:00,HYPOTENSION,0,1
13,114152,10184,104042,1.0,9724,12453,10184,2107-06-17 15:42:00,2107-06-27 14:45:00,NaN,...,Medicare,NaN,JEWISH,MARRIED,WHITE,2107-06-17 13:26:00,2107-06-17 16:39:00,HYPOTENSION;BRADYCARDIA,0,1
14,117927,10525,159935,1.0,9726,12868,10525,2119-07-05 20:38:00,2119-07-17 18:30:00,NaN,...,Medicare,NaN,CATHOLIC,WIDOWED,WHITE,2119-07-05 16:05:00,2119-07-05 22:27:00,SYMPTOMATIC BRADYCARDIA,0,1
15,111157,9912,133856,1.0,9724,12133,9912,2153-02-24 22:53:00,2153-02-27 11:00:00,NaN,...,Medicaid,ENGL,UNOBTAINABLE,SINGLE,BLACK/AFRICAN AMERICAN,2153-02-24 19:47:00,2153-02-24 22:47:00,METHYLGLOBLUIN,0,1
16,134885,11961,136082,1.0,9729,14711,11961,2153-11-19 16:00:00,2153-11-22 19:00:00,NaN,...,Medicare,RUSS,NOT SPECIFIED,WIDOWED,WHITE - RUSSIAN,2153-11-19 11:22:00,2153-11-19 18:10:00,HYPOTENSION,0,1
17,132142,11762,131141,7.0,9729,14415,11762,2105-06-01 22:33:00,2105-06-03 18:00:00,NaN,...,Medicaid,NaN,CATHOLIC,SINGLE,WHITE,2105-06-01 15:05:00,2105-06-02 00:55:00,HYPOTENSION,0,1
18,124726,11107,121045,1.0,9724,13593,11107,2124-06-06 04:05:00,2124-06-09 10:50:00,NaN,...,Medicare,NaN,UNOBTAINABLE,SINGLE,WHITE,2124-06-06 01:09:00,2124-06-06 10:50:00,"HYPOTENSION,BRADYCARDIA",0,1
19,190466,17083,124956,1.0,9729,20893,17083,2102-11-11 18:09:00,2102-11-15 16:30:00,NaN,...,Medicare,NaN,CATHOLIC,SINGLE,WHITE,2102-11-11 12:06:00,2102-11-11 20:20:00,HYPOTENSION,0,1

In [14]:
#Convert date time to something that can be graphed over the course of a day.

In [23]:
mimic_972.groupby('MARITAL_STATUS').count()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,SEQ_NUM,ICD9_CODE,ROW_ID_y,SUBJECT_ID_y,ADMITTIME,DISCHTIME,DEATHTIME,...,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
MARITAL_STATUS,,,,,,,,,,,,,,,,,,,,,
DIVORCED,5,5,5,5,5,5,5,5,5,1,...,5,5,4,5,5,4,4,5,5,5
MARRIED,15,15,15,15,15,15,15,15,15,1,...,15,15,12,15,15,14,14,15,15,15
SEPARATED,2,2,2,2,2,2,2,2,2,0,...,2,2,1,1,2,2,2,2,2,2
SINGLE,34,34,34,34,34,34,34,34,34,1,...,34,34,26,34,34,34,34,34,34,34
WIDOWED,7,7,7,7,7,7,7,7,7,1,...,7,7,6,7,7,7,7,7,7,7